<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dang Nhap</title>
    </head>
    <body>
        <form action="/dangky" method="POST">
            <input type="text" name="username" placeholder="Username">
            <hr>
            <input type="password" name="password" placeholder="Password">
            <hr>
            <input type="submit" value="Đăng Ký">
        </form>
    </body>
</html>
